
/* Dotlan Native Header */
div#mainnav {
    top: 68px;
    position: absolute;
}

div#banner {
    height: 43px;
}

div#searchbox {
    height: auto;
    border-radius: 5px;
}

#search > h2 {
    display: none;
}

#header {
    height: 93px !important;
}

#header h1 a {
    top: -16px;
}

/* DES Menu */

div#des-main {
    height: 50px;
    display: flex;
}

.des-header-module {
    background-color: #eee;
    padding: 5px;
}

.des-header-module.des-module-loading::after {
    content: 'Loading...';
    display: block;
}

.des-header-module {
    display: flex;
    flex-flow: column;

    span.des-menu-headline {
        font-weight: bold;
        font-size: 1.2em;
    }   
}

#des-module-tracking {
    #des-character-location, #des-character-name {
        font-weight: bold;
        cursor: pointer;
    }
}

.des-esi-login-hint {
    text-decoration: dotted;
    cursor: pointer;
}

rect.s {
    stroke: #ff0000 !important;
    stroke-width: 2 !important;
}